@font-face {
    font-family: 'chakra';
    src: url(./Chakra_Petch/ChakraPetch-Light.ttf);
}
@font-face {
    font-family: 'rancher';
    src: url(./Ranchers/Ranchers-Regular.ttf);
}
body {
    background-image: url(./Magda-Ehlers-clouds.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#main-container {
    height: 100%;

}
#city {
    font-family: 'rancher';
    font-size: 45px;
    background-image: url(./Magda-Ehlers-clouds.jpg);
    text-align: center;
    display: flex;
    color: skyblue;
    width: 350px;
    height: 100px;
    border-radius: 4px;
    border-color: skyblue;
    box-shadow: 10px 10px 10px rgb(33, 65, 77);
}
h1 {
    font-family: 'rancher';
    background: url(./wir-wollen-in-die-cloud-bild-data.jpg);
    margin: 1.5rem;
    font-size: 4rem;
    background-position: 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #5b728a54;
    animation: animatedOne 30s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2, #d {
    font-family: 'chakra';
    color:rgb(94, 207, 255);
    padding: 1%;
    margin: 0;
}
img {
    width: 100px;
    height: 100px;
}
.today {
    width: 900px;
    background-color: rgb(93, 93, 94);
    opacity: 80%;
    border-radius: 7px;
}
/*ANIMATIONS*/
@keyframes animatedOne {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}